
@model Ilibrary.Models.ViewModels.ProductVM


<div class="card shadow border-0 my-4">
<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white py-2"> @(Model.Product.Id!=0?"Update":"Create") Product</h2>
        </div>
    </div>
</div>
<div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">

                       
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Name" class="form-control border-0 shadow" />
                            <label asp-for="Product.Name" class="ms-2"></label>

                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>


                        </div>
                            @* <div class="form-floating py-2 col-12"> *@
                            @*     <input asp-for="Product.Price" class="form-control border-0 shadow" /> *@
                            @*     <label asp-for="Product.Price" class="ms-2"></label> *@
                            @*     <span asp-validation-for="Product.Price" class="text-danger"></span> *@
                            @* </div> *@
                        <div class="form-floating py-2 col-12 position-relative">
                            <input asp-for="Product.Discount"
                                   class="form-control border-0 shadow pe-5"
                                   type="number"
                                   min="0"
                                   max="100"
                                   step="0.01"
                                   placeholder="0" />
                            <label asp-for="Product.Discount" class="ms-2"></label>
                            <span asp-validation-for="Product.Discount" class="text-danger"></span>
                            <!-- Percentage icon -->
                            <div class="position-absolute top-50 end-0 translate-middle-y me-3 text-muted">
                                %
                            </div>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Size" class="form-control border-0 shadow" />
                            <label asp-for="Product.Size" class="ms-2"></label>
                            <span asp-validation-for="Product.Size" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Product.IsAvailable" class="form-select border-0 shadow">
                                <option value="">-- Select Availability --</option>
                                <option value="true">In Stock</option>
                                <option value="false">Out of Stock</option>
                            </select>
                            <label asp-for="Product.IsAvailable" class="ms-2">Is Available</label>
                            <span asp-validation-for="Product.IsAvailable" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="Product.OnBanner" class="form-select border-0 shadow">
                                <option value="">-- Select Banner Status --</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <label asp-for="Product.OnBanner" class="ms-2">On Banner</label>
                            <span asp-validation-for="Product.OnBanner" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Product.Category"
                                    class="form-select border-0 shadow">
                                <option value="Men">Men</option>    
                                <option value="Women">Women</option>
                                <option value="Kids">Kids</option>
                            </select>
                            <label asp-for="Product.OnBanner" class="ms-2">Category</label>
                            <span asp-validation-for="Product.OnBanner" class="text-danger"></span>
                        </div>

                        @* <div class="form-floating py-2 col-12"> *@
                        @*     <select asp-for="Product.brand" *@
                        @*             asp-items="Model.BrandList" *@
                        @*             class="form-select border-0 shadow"> *@
                        @*     </select> *@
                        @*     <label asp-for="Product.brand" class="ms-2">Brand</label> *@
                        @*     <span asp-validation-for="Product.brand" class="text-danger"></span> *@
                        @* </div> *@

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.BrandId" asp-items="@Model.BrandList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Brand--</option>
                            </select>
                            <label asp-for="Product.BrandId" class="ms-2"></label>
                            <span asp-validation-for="Product.BrandId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.TypeId" asp-items="@Model.TypeList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Type--</option>
                            </select>
                            <label asp-for="Product.TypeId" class="ms-2"></label>
                            <span asp-validation-for="Product.TypeId" class="text-danger"></span>
                        </div>
                        
                        <div class="form-floating py-2 col-12">
                            <label asp-for="MainImage" class="form-label">MainImage</label>
                            @if (Model.Product.Id != 0)
                            {
                                <input asp-for="MainImage" type="file" class="form-control" placeholder="MainImage" data-val="false" />
                            }
                            else
                            {
                                <input asp-for="MainImage" type="file" class="form-control" placeholder="MainImage" required>
                            }
                            <span asp-validation-for="MainImage" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="SecondaryImages" class="form-label">Secondary Images</label>
                            @if (Model.Product.Id != 0)
                            {
                                <input asp-for="SecondaryImages"
                                       type="file"
                                       class="form-control"
                                       placeholder="Secondary Images"
                                       multiple
                                       accept="image/*"
                                       data-val="false"
                                       onchange="validateFileCount(this)" />
                            }
                            else
                            {
                                <input asp-for="SecondaryImages"
                                       type="file"
                                       class="form-control"
                                       placeholder="Secondary Images"
                                       multiple
                                       accept="image/*"
                                       required
                                       onchange="validateFileCount(this)" />
                            }
                            <span asp-validation-for="SecondaryImages" class="text-danger"></span>
                        </div>

                        <script>
                            function validateFileCount(input) {
                                if (input.files.length > 4) {
                                    alert("You can upload up to 4 images only.");
                                    input.value = ""; 
                                }
                            }
                        </script>



                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">

                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back To List
                                </a>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="col-2">
                    <div class="border p-1 m-2 text-center">

                      
                        @if (Model.Product.MainImage !=null) 
                        {
                            <img width="100%" style="border-radius: 5px; border:1px solid #bbb9b9" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Product.MainImage)">

                         }


                    </div>
                    
                </div>
            </div>
        </form>
        </div>
</div>


@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial"/>
       <script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent ',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script>
    }

}